.loginHeader {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  background: #faf9f8;
  & h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
}
.closeBtn {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.goBackBtn {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.logInBtn {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 0;
  margin-top: 30px;
}
.form {
  margin-top: 30px;
}
.createAccLink {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  & p {
    margin-right: 5px;
  }
}
