@import '/src/scssUtils/animations.scss';
.header {
  padding: 29px 0 19px 0;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // background-color: white;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userMenu {
  display: flex;
}
.userMenuItem {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
