%NavLink {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @media screen and (min-width: 1410px) {
    margin-bottom: 0;
    color: black;
  }
}
%dropDownStyles {
  position: absolute;
  left: -25px;
  background-color: white;
  padding: 25px;
  min-width: 200px;
  & li {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 1409px) {
    display: none;
  }
}
%basicCardCollection {
  padding-left: 30px;
  margin-bottom: 15px;
  min-height: 285px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
  display: flex;
  align-items: flex-end;
}
