@import '../../scssUtils/placeholders.scss';
@import '../../scssUtils/animations.scss';
.siteNav {
  @media screen and (min-width: 1280px) {
    flex: auto;
    margin-left: 55px;
  }
}
.siteNavList {
  & li {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover div {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    & li {
      position: relative;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}
.siteNavLink {
  @extend %NavLink;
}
.active {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1280px) {
    display: block;
    margin-bottom: 0;
    color: black;
    padding: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    @media screen and (max-width: 1279px) {
      bottom: -5px;
      width: 5%;
    }
    height: 2px;
    background-color: black;
    animation-name: slideInLeft;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    width: 25%;
    margin-top: 2px;
    display: block;
  }
}
.siteNavLinkSvg {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
