@import '../../scssUtils/animations.scss';
.siteNav {
  @media screen and (min-width: 1410px) {
    flex: auto;
    margin-left: 55px;
  }
}
.siteNavList {
  @media screen and (min-width: 1410px) {
    display: flex;
  }
}
.siteNavLink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1410px) {
    margin-bottom: 0;
    margin-right: 40px;
    color: black;
    &:last-child {
      margin-right: 0;
    }
  }
}
.active {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1410px) {
    display: block;
    margin-bottom: 0;
    margin-right: 40px;
    color: black;
    &:last-child {
      margin-right: 0;
    }
  }
  &::after {
    content: '';
    @media screen and (max-width: 1409px) {
      position: absolute;
      bottom: -5px;
      width: 5%;
    }
    height: 2px;
    background-color: black;
    animation-name: slideInLeft;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    width: 50%;
    margin-top: 2px;
    display: block;
    bottom: 0;
  }
}
.siteNavLinkSvg {
  @media screen and (min-width: 1410px) {
    display: none;
  }
}
