@import '/node_modules/modern-normalize/modern-normalize.css';
@import './scssUtils/variables.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  font-weight: 400;
}
p {
  color: var(--secocdary-text-color);
  font-weight: 400;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}
a:hover {
  color: inherit;
}
.swiper-pagination {
  display: block;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
